.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin: 35px;
}

.header h1 {
    font-size: 24px;
    color: var(--logo-blue);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 14px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--logo-blue);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.create-button:hover{
    color: var(--logo-blue);
    background-color: white;
}

.create-button i {
    margin-left: 10px;
}

.notebook-list {
    list-style-type: none;
    padding: 0;
    display: flex!important;
  flex-direction: column!important;
  background-color: transparent !important;
}

.notebook-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.notebook-item:hover{
    scale: 1.1;
}

.notebook-item .notebook-details {
    display: flex;
    align-items: center;
}

.notebook-item i {
    font-size: 24px;
    margin-right: 10px;
}

.notebook-item .options {
    cursor: pointer;
}

.notebook-item .notebook-details p {
    margin: 0;
}

.notebook-item .notebook-details .date {
    font-size: 12px;
    color: #777;
}
