header {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid var(--main-color);

    padding: 10px 30px;
    box-shadow: -2px 14px 20px -18px rgba(0, 0, 0, 0.1);
}

#nav-first-container,
#nav-second-container {
    display: flex;
    text-align: center;
}

#nav-first-container {
    gap: 30px;
}

#nav-first-container img {
    width: 100px;
    height: 80px;
}

#nav-first-container .searchInput {
    margin: auto;
    height: 30px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

#nav-first-container .searchInput:focus {
    border-color: #4a852f8f;
    box-shadow: 0 0 5px rgba(23, 82, 11, 0.5);
}

#nav-first-container ion-icon {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    left: -20px;
    cursor: pointer;
}

#nav-second-container {
    margin-top: auto;
    margin-bottom: auto;
    gap: 30px;
}

#nav-second-container a {
    color: var(--logo-blue);
    text-decoration: none;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

#nav-second-container a:hover {
    color: var(--main-color);
}

#nav-second-container a:last-of-type {
    color: white;
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 10px;
}

#nav-second-container ion-icon {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 20px;
}

#nav-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 35px 20px 35px;
    margin: 30px 0px 0px 0px;
}

#nav-menus li {
    list-style: none;
    cursor: pointer;
}

#nav-menus li a {
    text-decoration: none;
    cursor: pointer;
    color: gray;
}

#nav-menus li a:hover {
    color: var(--main-color);
}

#burguer {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    cursor: pointer;
    display: none;
}




/**RESPONSIVIDADE NAV*/
@media (max-width: 600px) {
    #nav-second-container {
        display: none;
    }

    #nav-first-container .searchInput {
        width: 65%;
    }

    header {
        flex-direction: column;
    }

    #burguer {
        display: block;
    }

    #nav-menus li {
        font-size: 3vw;
    }
}

@media (max-width: 970px) {
    #nav-second-container a {
        font-size: 1vw;
    }

    #nav-second-container {
        margin-top: auto;
        margin-bottom: auto;
        gap: 15px;
    }
}
.profile_pic{
    max-width: 30px;
    cursor: pointer;
    position: relative;
    top: 11px;
    right: 5px;
    border-radius: 50%;
    height: 30px;
  
}

#home-menu ul{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px 35px 20px 35px;
    border-radius: px;
    background-color: var(--logo-blue);
  }
  #home-menu li{
      list-style: none;
      cursor: pointer;
    }
    #home-menu  li a{
      text-decoration: none;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
    #home-menu li a:hover{
      color: var(--green-todbg);
    }
    .container_ind {
        width: 90%;
  max-width: 1200px;
  margin: 20px;
    margin-right: 20px;
    margin-left: 20px;
  margin-left: auto;
  margin-right: auto;
    }
    
    #welcome_user_title {
        font-size: 2em;
        margin-bottom: 20px;
        padding-left: 20px;
        font-weight: initial;
        text-align: center;
    }
    
    .search-box {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    
    .search-box input {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px 0 0 10px;
        outline: none;
        width: 250px;
    }
    
    .search-box button {
        padding: 10px;
        border: 1px solid #ddd;
        border-left: none;
        background-color: white;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }
    
    .simulado-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        min-width: 250px;
        max-width: 250px;
        text-align: left;
    }
    
    .simulado-card h2 {
        font-size: 1.2em;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .simulado-card p {
        color: #888;
        margin: 5px 0;
    }
    
    .footer-card {
        display: flex;
        align-items: center;
        color: #888;
        margin-top: 10px;
    }
    
    .footer-card i {
        margin-right: 5px;
    }
    
    .fa-calendar {
        font-family: 'FontAwesome';
        content: '\f073'; /* código do ícone de calendário */
    }


#general_st{
    display: flex;
    gap: 25px;
    padding: 20px;
    justify-content: center;
}
#general_st h6{
    background-color: #b3e295;
  color: white;
  padding: 10px;
  color: #070;
  cursor: pointer;
}
#header_root_index{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.sim_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.sim_btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel {
    display: flex;
    overflow-x: scroll; /* mantém a rolagem horizontal */
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Para o Internet Explorer e Edge */
    scrollbar-width: none;     /* Para o Firefox */
}

.carousel::-webkit-scrollbar {
    display: none;  /* Para o Chrome, Safari e Opera */
}

#motivacional{
    font-family: 'Georgia', serif;
  font-size: 12px;
  color: #fff;
  line-height: 1.6;
  margin: 0;
    margin-right: 0px;
    margin-left: 0px;
  text-align: center;
  font-style: italic;
  background-color: #d9b447;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}


.video-container{
    margin-left: 20px;
  margin-right: 20px;
}
.carousel {
    display: flex;
    scroll-behavior: smooth; /* Suaviza a rolagem */
}

.video-card {
    margin: 0 10px; /* Espaçamento entre os vídeos */
}

 iframe {
    width: 560px; /* Largura do iframe */
    height: 315px; /* Altura do iframe */
    border: none;
    border-radius: 20px;
}

.sim_btn {
    background-color: #b3e295;
  color: #56a44b;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sim_btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

@media (max-width: 768px) {
    .video-card iframe {
        width: 100%; /* Responsividade */
    }
}
h1{
    text-align: center;
}
